<h1>Yelp Hackthon Android App Server</h1>

<p>Here's the list of APIs we have for calling by Android client</p>
<ul>
<li>
	<a href="/auth/facebook">Login with Facebook</a>
	<P>REQUEST URL: http://waterping.com:3000/auth/facebook</p>
	<p>RESPONSE: {"_id":"56c81207d36351b565495699","__v":0,"facebook":{"name":"Wei Zhang","token":"CAAMl1jhQwXkBAJoLWXLSti6vouZCaJVzsEVuguT1SzOmBsagXNNd16xlTnIFFZCzTpZBqrPBg7CZAjJT4rno7ZCEsDjcZB2Co1Hk2iGA3jPS4RnKlNfEfTLzJipjxOEnmMQuOnb3MeUnQKPDkTEuuewXcBNnsOf9OZB3fcLMWnKPmhwPNwXpFAiK12MDk8yZC1UZD","id":"1122951877750315"}} <p>
</li>

<li></li>
</ul>