<!doctype html>
<html>
<head>
	<title>Yelp Hackthon</title>
	<script href="/style/js/bootstrap.min.js"></script>
	<style type="text/css">
		html, body{
	        height: 100%;
	        margin: 0;
	        padding: 0;
		}
	</style>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
</head>
<body class="full-height">
	{{{body}}}
</body>
</html>